<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
  />
  <meta property="og:image" content="/assets/og_image.png" />
  <meta
    name="google-site-verification"
    content="85PLFuiQhtsRws7ZZXK1YKLYJFi552MY8ZO0_WD9GAg"
  />
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-FCCFEKNVWL"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-FCCFEKNVWL");
  </script>
  <!-- adsens -->
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4936433884379359"
    crossorigin="anonymous"
  ></script>

  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/assets/favicon_io/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/assets/favicon_io/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/assets/favicon_io/favicon-16x16.png"
  />
  <link rel="manifest" href="/assets/favicon_io/site.webmanifest" />

  <title>
    {% if page.layout != 'home' %}{% if page.title %}{{ page.title }}{% else
    %}{{ site.title }}{% endif %} - {{ site.title }}{% else %} {{ site.title
    }}{% endif %}
  </title>
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  <script
    type="text/javascript"
    src="{{ page.js_file | relative_url }}"
  ></script>

  {% seo %}
</head>
